{
  "name": "me-dot-com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/random-bg.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "vendor/jquery-3.3.1.min.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/rain.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/smooth-scroll.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/animate.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/keepmovin.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/swag-tab-navigation.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/all.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "less/all.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less",
      "less/_components",
      "css/_components",
      "js",
      "vendor",
      "img"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/all.less",
      "imports": [
        "less/_components/global.less",
        "less/_components/model.less",
        "less/_components/navigation.less",
        "less/_components/what.less",
        "less/_components/mygosh.less",
        "less/_components/page-transitions.less",
        "less/_components/keepmovin.less",
        "less/_components/sidebar.less",
        "less/_components/swag-tab.less",
        "less/_components/offcanvas-cv.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "thomasbieniek.com"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 500
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/httpdocs",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "thomasbieniek.com",
      "port": 21,
      "user": "thomas",
      "password": "Juzf02@3"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "index.html",
        "ctime": "2018-09-09T14:05:26.142Z",
        "mtime": "2018-09-09T14:05:26.142Z",
        "size": 20607
      },
      {
        "file": "less/all.less",
        "ctime": "2018-09-09T11:05:33.016Z",
        "mtime": "2018-09-09T11:05:33.016Z",
        "size": 387
      },
      {
        "file": "css/all.css",
        "ctime": "2018-09-09T14:00:07.588Z",
        "mtime": "2018-09-09T14:00:07.588Z",
        "size": 14716
      },
      {
        "file": "less/_components/keepmovin.less",
        "ctime": "2018-06-23T13:38:11.758Z",
        "mtime": "2018-06-23T13:38:11.758Z",
        "size": 1052
      },
      {
        "file": "js/keepmovin.js",
        "ctime": "2018-06-23T15:05:16.991Z",
        "mtime": "2018-06-23T15:05:16.991Z",
        "size": 1863
      },
      {
        "file": "js/keepmovin-dist.js",
        "ctime": "2018-06-23T15:05:17.158Z",
        "mtime": "2018-06-23T15:05:17.158Z",
        "size": 711
      },
      {
        "file": "img/Bruder-Kirche.jpg",
        "ctime": "2015-01-11T23:25:07.446Z",
        "mtime": "2015-01-06T10:08:34.783Z",
        "size": 887465
      },
      {
        "file": "css/_components/mygosh.css",
        "ctime": "2018-06-13T20:49:10.401Z",
        "mtime": "2018-06-13T20:49:10.401Z",
        "size": 261
      },
      {
        "file": "css/_components/navigation.css",
        "ctime": "2018-06-11T21:38:27.057Z",
        "mtime": "2018-06-11T21:38:27.057Z",
        "size": 75
      },
      {
        "file": "css/_components/page-transitions.css",
        "ctime": "2018-06-16T10:07:05.646Z",
        "mtime": "2018-06-16T10:07:05.646Z",
        "size": 501
      },
      {
        "file": "css/_components/variables.css",
        "ctime": "2018-06-13T20:44:01.960Z",
        "mtime": "2018-06-13T20:44:01.960Z",
        "size": 182
      },
      {
        "file": "dist/jquery.fullpage.css",
        "ctime": "2018-06-23T13:48:50.635Z",
        "mtime": "2018-04-09T11:09:57.000Z",
        "size": 5072
      },
      {
        "file": "dist/jquery.fullpage.extensions.min.js",
        "ctime": "2018-06-23T13:48:50.638Z",
        "mtime": "2018-04-09T11:22:41.000Z",
        "size": 33268
      },
      {
        "file": "dist/jquery.fullpage.js",
        "ctime": "2018-06-23T13:48:50.646Z",
        "mtime": "2018-04-09T11:09:51.000Z",
        "size": 112412
      },
      {
        "file": "dist/jquery.fullpage.min.css",
        "ctime": "2018-06-23T13:48:50.647Z",
        "mtime": "2018-04-09T11:09:57.000Z",
        "size": 3732
      },
      {
        "file": "dist/jquery.fullpage.min.css.map",
        "ctime": "2018-06-23T13:48:50.648Z",
        "mtime": "2018-04-09T11:09:57.000Z",
        "size": 7499
      },
      {
        "file": "dist/jquery.fullpage.min.js",
        "ctime": "2018-06-23T13:48:50.652Z",
        "mtime": "2018-04-09T11:09:53.000Z",
        "size": 27661
      },
      {
        "file": "dist/jquery.fullpage.min.js.map",
        "ctime": "2018-06-23T13:48:50.665Z",
        "mtime": "2018-04-09T11:09:53.000Z",
        "size": 157875
      },
      {
        "file": "img/hello.gif",
        "ctime": "2018-06-13T19:28:42.189Z",
        "mtime": "2017-10-01T17:49:56.620Z",
        "size": 1338598
      },
      {
        "file": "img/plant.svg",
        "ctime": "2018-06-13T20:17:04.471Z",
        "mtime": "2018-06-13T20:08:13.531Z",
        "size": 2503
      },
      {
        "file": "img/thomas-bieniek.jpg",
        "ctime": "2018-06-09T13:02:31.865Z",
        "mtime": "2018-05-03T00:09:56.181Z",
        "size": 36295
      },
      {
        "file": "img/wavetrap.jpg",
        "ctime": "2018-06-23T13:31:48.032Z",
        "mtime": "2015-06-24T15:56:45.551Z",
        "size": 1310563
      },
      {
        "file": "index.sublime-project",
        "ctime": "2018-06-13T20:56:43.253Z",
        "mtime": "2018-06-11T22:45:24.216Z",
        "size": 45
      },
      {
        "file": "index.sublime-workspace",
        "ctime": "2018-06-16T10:07:05.653Z",
        "mtime": "2018-06-16T10:07:05.653Z",
        "size": 14186
      },
      {
        "file": "js/animate-dist.js",
        "ctime": "2018-06-13T20:26:15.254Z",
        "mtime": "2018-06-13T20:26:15.254Z",
        "size": 186
      },
      {
        "file": "js/animate.js",
        "ctime": "2018-06-13T20:26:14.988Z",
        "mtime": "2018-06-13T20:26:14.988Z",
        "size": 267
      },
      {
        "file": "js/rain-dist.js",
        "ctime": "2018-06-16T10:07:05.654Z",
        "mtime": "2018-06-16T10:07:05.654Z",
        "size": 1105
      },
      {
        "file": "js/rain.js",
        "ctime": "2018-06-16T10:07:05.656Z",
        "mtime": "2018-06-16T10:07:05.656Z",
        "size": 1815
      },
      {
        "file": "js/random-bg-dist.js",
        "ctime": "2018-06-16T10:07:05.658Z",
        "mtime": "2018-06-16T10:07:05.658Z",
        "size": 559
      },
      {
        "file": "js/random-bg.js",
        "ctime": "2018-06-16T10:07:05.660Z",
        "mtime": "2018-06-16T10:07:05.660Z",
        "size": 923
      },
      {
        "file": "js/smooth-scroll-dist.js",
        "ctime": "2018-06-23T14:52:52.402Z",
        "mtime": "2018-06-23T14:52:52.402Z",
        "size": 352
      },
      {
        "file": "js/smooth-scroll.js",
        "ctime": "2018-06-23T14:52:52.220Z",
        "mtime": "2018-06-23T14:52:52.220Z",
        "size": 986
      },
      {
        "file": "less/_components/global.less",
        "ctime": "2018-09-09T13:55:58.570Z",
        "mtime": "2018-09-09T13:55:58.570Z",
        "size": 1807
      },
      {
        "file": "less/_components/model.less",
        "ctime": "2018-06-23T15:21:13.825Z",
        "mtime": "2018-06-23T15:21:13.825Z",
        "size": 1694
      },
      {
        "file": "less/_components/mygosh.less",
        "ctime": "2018-06-13T20:53:14.418Z",
        "mtime": "2018-06-13T20:53:14.418Z",
        "size": 209
      },
      {
        "file": "less/_components/navigation.less",
        "ctime": "2018-09-09T08:41:32.769Z",
        "mtime": "2018-09-09T08:41:32.769Z",
        "size": 1096
      },
      {
        "file": "less/_components/page-transitions.less",
        "ctime": "2018-08-28T17:13:51.777Z",
        "mtime": "2018-08-28T17:13:51.777Z",
        "size": 476
      },
      {
        "file": "less/_components/variables.less",
        "ctime": "2018-06-13T20:44:01.821Z",
        "mtime": "2018-06-13T20:44:01.821Z",
        "size": 253
      },
      {
        "file": "less/_components/what.less",
        "ctime": "2018-06-23T15:22:11.367Z",
        "mtime": "2018-06-23T15:22:11.367Z",
        "size": 475
      },
      {
        "file": "package-lock.json",
        "ctime": "2018-06-23T13:48:51.056Z",
        "mtime": "2018-06-23T13:48:51.027Z",
        "size": 623
      },
      {
        "file": "vendor/anime.js",
        "ctime": "2018-06-13T20:14:26.834Z",
        "mtime": "2018-06-13T20:14:26.834Z",
        "size": 14452
      },
      {
        "file": "vendor/jquery-3.3.1.min.js",
        "ctime": "2018-06-13T20:56:11.586Z",
        "mtime": "2018-06-11T22:42:19.818Z",
        "size": 86927
      },
      {
        "file": "vendor/jquery.easings.min.js",
        "ctime": "2018-06-23T13:57:20.670Z",
        "mtime": "2016-10-15T11:02:16.000Z",
        "size": 12927
      },
      {
        "file": "vendor/modernizr.custom.js",
        "ctime": "2018-06-16T10:07:05.670Z",
        "mtime": "2018-06-16T10:07:05.670Z",
        "size": 9177
      },
      {
        "file": "vendor/pagetransitions.js",
        "ctime": "2018-06-16T10:07:05.689Z",
        "mtime": "2018-06-16T10:07:05.689Z",
        "size": 10824
      },
      {
        "file": "vendor/scrolloverflow.js",
        "ctime": "2018-06-23T13:57:20.673Z",
        "mtime": "2018-04-08T11:48:44.000Z",
        "size": 83251
      },
      {
        "file": "vendor/scrolloverflow.min.js",
        "ctime": "2018-06-23T13:57:20.676Z",
        "mtime": "2018-01-29T16:07:11.000Z",
        "size": 39532
      },
      {
        "file": "vendor/scrolloverflow.min.js.map",
        "ctime": "2018-06-23T13:57:20.679Z",
        "mtime": "2018-01-29T16:07:11.000Z",
        "size": 141727
      },
      {
        "file": "vendor/untitled.js",
        "ctime": "2018-06-23T13:57:20.683Z",
        "mtime": "2018-04-05T16:32:27.000Z",
        "size": 4846
      },
      {
        "file": "js/swag-tab-navigation.js",
        "ctime": "2018-08-29T17:57:48.807Z",
        "mtime": "2018-08-29T17:57:48.807Z",
        "size": 1638
      },
      {
        "file": "js/inview.js",
        "ctime": "2018-08-28T17:21:06.216Z",
        "mtime": "2018-08-28T17:21:06.216Z",
        "size": 1437
      },
      {
        "file": "less/_components/sidebar.less",
        "ctime": "2018-09-09T14:00:07.352Z",
        "mtime": "2018-09-09T14:00:07.352Z",
        "size": 1289
      },
      {
        "file": "js/swag-tab-navigation-dist.js",
        "ctime": "2018-08-29T17:09:23.475Z",
        "mtime": "2018-08-29T17:09:23.475Z",
        "size": 836
      },
      {
        "file": "js/activeStateNavigation.js",
        "ctime": "2018-09-09T10:53:49.520Z",
        "mtime": "2018-09-09T10:53:49.520Z",
        "size": 1019
      },
      {
        "file": "less/_components/swag-tab.less",
        "ctime": "2018-09-09T13:51:28.077Z",
        "mtime": "2018-09-09T13:51:28.077Z",
        "size": 2179
      },
      {
        "file": "js/swag-tabs.js",
        "ctime": "2018-09-09T10:54:01.160Z",
        "mtime": "2018-09-09T10:54:01.160Z",
        "size": 1893
      },
      {
        "file": "img/codepen-logo.png",
        "ctime": "2018-09-09T08:46:28.278Z",
        "mtime": "2018-09-09T08:42:36.080Z",
        "size": 12850
      },
      {
        "file": "img/soundcloud.svg",
        "ctime": "2018-09-09T09:01:03.016Z",
        "mtime": "2018-09-09T09:00:51.557Z",
        "size": 480
      },
      {
        "file": "img/github-logo.svg",
        "ctime": "2018-09-09T08:48:10.571Z",
        "mtime": "2018-09-09T08:48:02.793Z",
        "size": 2958
      },
      {
        "file": "img/approved.svg",
        "ctime": "2018-09-09T08:53:30.860Z",
        "mtime": "2018-09-09T08:52:20.631Z",
        "size": 3830
      },
      {
        "file": "less/_components/offcanvas-cv.less",
        "ctime": "2018-09-09T12:55:27.276Z",
        "mtime": "2018-09-09T12:55:27.276Z",
        "size": 1721
      },
      {
        "file": "css/_components/offcanvas-cv.css",
        "ctime": "2018-09-09T11:04:54.564Z",
        "mtime": "2018-09-09T11:04:54.564Z",
        "size": 280
      },
      {
        "file": "js/offcanvas.js",
        "ctime": "2018-09-09T12:59:35.762Z",
        "mtime": "2018-09-09T12:59:35.762Z",
        "size": 773
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}